.round-button {
	width:5%;
	position:absolute;
	bottom: 2%;
	right: 2%;
}
.round-button-circle {
	width: 100%;
	height:0;
	padding-bottom: 100%;
    border-radius: 50%;
	border:10px solid #cfdcec;
    overflow:hidden;
    background: #4679BD; 
    box-shadow: 0 0 3px gray;
}
.round-button-circle:hover {
	background:#30588e;
}
.round-button a {
    display:block;
	float:left;
	width:100%;
	padding-top:50%;
    padding-bottom:50%;
	line-height:1em;
	margin-top:0.5em;
	text-align:center;
	color:#e2eaf3;
    font-family:Arial;
    font-size:3em;
    font-weight:bold;
    text-decoration:none;
}

#more
{
	position: absolute;
	right: 13%;
	bottom:30%;
	max-height:50%;
	max-width:50%;
}

.black_overlay{
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 0;
  -moz-opacity: 0.8;
  opacity:.80;
  filter: alpha(opacity=80);
}
